---
interface NFT {
  attributes: Attribute[];
  description: string;
  external_url: string;
  animation_url: string;
  image: string;
  name: string;
}

interface Attribute {
  trait_type: string;
  value: any;
  display_type?: string;
}

const { token_id } = Astro.params;
const ipfs_url =
  "https://nftstorage.link/ipfs/bafybeidl3zw6ogfbztc2vd44s76iuax3iyzwxyndlw4ulntwxig7d6t4oe";
const metadata_url = `${ipfs_url}/${token_id}`;
const req = await fetch(metadata_url);
const data: NFT = await req.json();
const category = data.attributes.find(
  (v) => v.trait_type === "category"
)?.value;
const personality = data.attributes.find(
  (v) => v.trait_type === "personality"
)?.value;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Meow Meow Collectibles</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="/"
      ><img src="/android-chrome-512x512.png" width="64" height="64" /></a
    >
    <figure
      class:list={[
        "figure",
        {
          foil:
            data.attributes.findIndex(
              (v) => v.trait_type === "edition" && v.value === "foil"
            ) >= 0,
        },
      ]}
      data-tilt
      data-tilt-glare
      data-tilt-max-glare="0.8"
      data-tilt-scale="1.1"
      data-tilt-perspective="1000"
    >
      <img src={data.image} class="image" />
      <img src={`/personality-${personality}.svg`} class="personality" />
      <figcaption class="caption">
        <span>{data.name}</span>
      </figcaption>
      <span class:list={["category", category]}>
        {category}
      </span>
    </figure>
    <menu class="menu">
      <li><a href="/nft/render/0">1</a></li>
      <li><a href="/nft/render/1">2</a></li>
      <li><a href="/nft/render/2">3</a></li>
    </menu>
    <div class="code-wrapper">
      <pre
        class="pre"><code class="code">{JSON.stringify(data, null, 4)}</code></pre>
      <a
        class="metadata-link"
        href={metadata_url}
        target="_blank"
        rel="noreferrer">Link to IPFS Metadata</a
      >
    </div>
    <style is:global>
      * {
        box-sizing: border-box;
      }
      html,
      body {
        font-family: "Fredoka", sans-serif;
        background-color: #f3efe0;
      }
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        gap: 2rem;
        padding: 2rem;
      }
      .menu {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        gap: 1rem;
        padding: 0;
        margin: 0;
      }
      .menu > li {
        width: 48px;
        aspect-ratio: 1 / 1;
        background-color: #2f2309;
        border-radius: 0.5rem;
        font-weight: 700;
        font-size: 1.25rem;
      }
      .menu > li > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        aspect-ratio: 1 / 1;
        text-decoration: none;
        color: #ebb02d;
      }
      .code-wrapper {
        display: block;
        position: relative;
        width: 100%;
        max-width: 768px;
      }
      .metadata-link {
        position: absolute;
        background-color: #ebb02d;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        font-weight: 700;
        color: #2f2309;
        text-decoration: none;
        font-size: 1.25rem;
        inset: auto -1rem -0.5rem auto;
      }
      .pre {
        max-width: 768px;
        width: 100%;
        overflow: auto;
        padding: 2rem;
        border-radius: 1rem;
        background-color: #fff;
      }
      .code {
        width: 100%;
        overflow-wrap: break-word;
        white-space: pre-wrap;
      }
      .figure {
        display: block;
        width: 100%;
        min-width: 320px;
        max-width: 384px;
        aspect-ratio: 1/1;
        border-radius: 1rem;
        position: relative;
        transform-style: preserve-3d;
        perspective-origin: 50%;
        perspective: 1000px;
        z-index: 0;
        isolation: isolate;
      }
      .personality {
        display: block;
        position: absolute;
        width: 64px;
        aspect-ratio: 1 / 1;
        inset: 1rem auto auto 1rem;
        transform: rotate3d(0, 0, 1, -15deg);
      }
      .caption {
        display: block;
        position: absolute;
        inset: auto auto 0 50%;
        transform: translate3d(-50%, 35%, 0);
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-size: 3rem;
        text-shadow: -2px 2px #000000, 2px 2px #000000, 2px -2px #000000,
          -2px -2px #000000;
        z-index: 3;
      }
      .figure.foil::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 1rem;
        background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
          url("https://assets.codepen.io/13471/holo.png"),
          linear-gradient(
            125deg,
            #ff008450 15%,
            #fca40040 30%,
            #ffff0030 40%,
            #00ff8a20 60%,
            #00cfff40 70%,
            #cc4cfa50 85%
          );
        background-position: 50% 50%;
        background-size: 160%;
        background-blend-mode: overlay;
        z-index: 2;
        filter: brightness(1) contrast(1);
        transition: all 0.33s ease;
        mix-blend-mode: color-dodge;
        opacity: 0.75;
      }
      .category {
        display: block;
        position: absolute;
        padding: 0.5rem 1rem;
        font-weight: 700;
        padding: 0.25rem 0.5rem;
        font-size: 1.5rem;
        transform-style: preserve-3d;
        background-color: #d864a9;
        color: #fbeff6;
        border: 4px solid #fbeff6;
        border-radius: 1rem;
        inset: 1rem 1rem auto auto;
        z-index: 3;
      }
      .category.cute {
        background-color: #d864a9;
        color: #fbeff6;
        border: 4px solid #fbeff6;
      }
      .category.cool {
        background-color: #ebb02d;
        color: #fdf7ea;
        border: 4px solid #fdf7ea;
      }
      .category.beautiful {
        background-color: #7aa874;
        color: #f1f6f1;
        border: 4px solid #f1f6f1;
      }
      .image {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 1rem;
      }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js"
      integrity="sha512-RX/OFugt/bkgwRQg4B22KYE79dQhwaPp2IZaA/YyU3GMo/qY7GrXkiG6Dvvwnds6/DefCfwPTgCXnaC6nAgVYw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      is:inline
    ></script>
  </body>
</html>
